@font-face {
    font-family: myfont;
    src: url("samsung-sans-4/SamsungSans-Regular.ttf")
    format('truetype')
}

body {
    font-family: myfont, sans-serif;
}
body a {
    text-decoration: none;
}

.head {
    background-color: dodgerblue;
    height: 7vh;
    align-content: center;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}

.head nav {
    display: flex;
    justify-content: space-around;
}

.head nav a {
    color: white;
}

.welcome_block {
    background-color: lightslategray;
    height: 50vh;
    align-content: center;
    text-align: center;
}

.welcome_block #learn_button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.features_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    gap: 5vh;
}

.features_block div {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 10px lightgrey;
    padding: 5vh;
}

.sign_up_block {
    background-color: aquamarine; 
    text-align: center;
    align-content: center;
    height: 20vh;
    color: black;
}
.sign_up_block a {
    color: black;
}

.footer {
    text-align: center;
    background-color: black;
    color: azure;
}